#loader {
    text-align: center;
}
#loader img {
    width:35px;
}
.contact-us-main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.custom-form-group {
    margin-bottom: 30px;
}

.custom-form-group .form-control {
    border: 1px solid #dbdbdb;
}

.otm-action-btn {
    background-color: #19144D;
    color: #ffffff;
}

.contact-form-title h3 {
    color: #004D86;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    font-size: 40px;
}

.contact-form-title h3:after {
    content: '';
    width: 107px;
    height: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #d8d8d8;
}

.contact-form-title {
    margin-bottom: 30px;
}

.contact-info-logo {
    width: 250px;
    max-width: 100%;
    margin-top: 30px;
}

.chat-time {
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.chat-time img {
    width: 150px;
    float: right;
    margin-top: -90px;
}

.chat-time p {
    font-size: 12px;
    font-weight: 600;
}

.chat-time h4 {
    font-size: 16px;
    font-weight:bold;
}

.contact-point {
    text-align: center;
}

.contact-point p {
    text-align: left;
}

.contact-point p a {
    color: #000000;
}

.contact-point p a:hover {
    text-decoration: none;
}

.gmap-wrapper {
    padding-top: 226px;
    padding-bottom: 226px;
    background-image: url(../images/Bitmap.png);
    background-size: contain;
}

.gmap-wrapper .btn-otm-dark {
    min-width: 280px;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-size: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media only screen and (max-width: 991px) {
    .contact-form-title h3 {
        font-size: 36px;
    }
}

@media only screen and (max-width: 768px) {
    .contact-form-title h3 {
        font-size: 32px;
    }
    .contact-info-logo {
        width: 250px;
        max-width: 100%;
        margin-top: 30px;
        margin-left: 55px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .contact-form-title h3 {
        font-size: 32px;
    }
}