body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}

.otm-nav {
    padding-top: 20px;
    z-index: 2;
}

.otm-hero-light .otm-nav {
    padding-top: 0px;
    padding-bottom: 0px;
}

.otm-nav.navbar-expand-lg .navbar-nav .nav-link {
    position: relative;
    padding: 15px;
    text-transform: uppercase;
    font-size: 10px;
}

/*.otm-nav.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-bottom: 3px #0476B8 solid;
}*/

.otm-nav.navbar-expand-lg .navbar-nav .nav-item .nav-link:not(.nav-cta):before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    max-width: 90%;
    height: 7px;
    background-color: #0476B8;
    transform: translate(-50%, 0%);
    opacity: 0;
    width: 100%;
}

.otm-nav.navbar-expand-lg .navbar-nav .nav-item.show .nav-link:not(.nav-cta):before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    max-width: 60%;
    height: 6px;
    background-color: #0093e8;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    opacity: 1;
    width: 100%;
}


.dropdown-toggle::after {
    display: none;
}

.otm-nav.navbar-light .navbar-nav .active>.nav-link,
.otm-nav.navbar-light .navbar-nav .nav-link.active,
.otm-nav.navbar-light .navbar-nav .nav-link.show,
.otm-nav.navbar-light .navbar-nav .show>.nav-link,
.otm-nav.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.otm-nav.navbar-light .navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 41.5px;
    padding-bottom: 41.5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.83px;
    font-size: 0.87em;
}

.otm-nav.navbar-light .navbar-nav .nav-link.nav-cta {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
}

.otm-nav.navbar-light .navbar-nav .nav-link.nav-cta:after {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid #0476B8;
    top: 0px;
    left: 0px;
    position: absolute;
    transform: skewX(-25deg);
}

.btn-orange:hover {
    color: #ffffff;
    background-color: #d2790d;
}

.btn-otm-cta {
    background-color: #F7941E;
    color: #ffffff;
    border-radius: 50px;
    font-size: .75em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 12px 50px;
}
.btn-otm-cta:hover {
    color: #ffffff;
    background-color: #d2790d;
}

.btn-otm {
    color: #ffffff;
    padding: 10px 32px;
    font-size: 10px;
    margin-left: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-color: #429FEA;
    border-radius: 50px;
    border-width: 2px;
}

.btn-otm-dark {
    background-color: #191919;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 0px;
}

.btn-otm-dark:hover,
.btn-otm-dark:focus {
    color: #ffffff;
}

.navbar-toggler {
    border: none !important;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    /*border-color: rgba(255, 255, 255, .9);*/
}

.navbar-light .navbar-toggler-icon {
    background-image: url('../images/toggle-bar.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.otm-hero-light .navbar-light .navbar-toggler-icon {
    background-image: url('../images/toggle-bar-dark.svg');
    ;
}

.otm-hero-light .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .9);
}

.home-cta {
    background-color: #1D79B1;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
}

.home-cta h4 {
    font-size: 30px;
}


/* .btn-cta-white{
    background-color: #ffffff;
    color: #212121;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
} */

.btn-cta-white {
    background-color: #ffffff;
    color: #212121;
    /* font-size: 14px; */
    /* Updated font size */
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0.75px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
}

.btn-cta-white:hover {
    background-color: #f7941d;
    color: #ffffff;
}

.accordion-section .panel-heading {
    clear: both;
}
.accordion-section p {
    white-space: pre;
}
.questions-btn {
    padding: 10px 55px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 1em;
    border-radius: .1rem;
}
.footer {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #212121;
    color: #ffffff;
}

.follow-menu {
    text-align: right;
}

.follow-menu ul {
    list-style: none;
    display: inline-block;
    min-width: 90px;
    padding-left: 0;
    text-align: left;
}

.follow-menu ul li {
    display: inline-block;
    margin-right: 15px;
}

.footer-logo img {
    width: 60px;
}

.footer-menu {
    list-style: none;
    padding-left: 0px;
}

.footer-menu li a {
    color: #ffffff;
    font-size: 16px;
    line-height: 33px;
}

.footer-menu li a:hover {
    text-decoration: none;
}

.footer h4.company {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.follow-menu h4 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

.footer-logo {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

@media only screen and (max-width: 991px) {
    .nav-link {
        display: inline-block;
    }
    .nav-item {
        text-align: right;
    }
}

.otm-hero-light .otm-nav.navbar-light .navbar-nav .active>.nav-link,
.otm-hero-light .otm-nav.navbar-light .navbar-nav .nav-link.active,
.otm-hero-light .otm-nav.navbar-light .navbar-nav .nav-link.show,
.otm-hero-light .otm-nav.navbar-light .navbar-nav .show>.nav-link,
.otm-hero-light .otm-nav.navbar-light .navbar-nav .nav-link {
    color: #1B1550;
}

.sticky-menu {
    padding-top: 100px;
}

.sticky-menu .otm-hero-light {
    box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
    background-color: #ffffff;
}

.menu-background {
    position: fixed;
    top: 98px;
    width: 100%;
    height: 50vh;
    background-color: rgba(255,255,255,0.97);
    box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 1;
    display: none;
}

.menu-background.show {
    opacity: 1;
    display: block;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.otm-breadcrumb {
    background: linear-gradient(270deg, #ffffff, #F4F5F7);
}

.otm-breadcrumb .otm-breadcrumb-inner .breadcrumb {
    background-color: transparent;
    margin-bottom: 0px;
}

.otm-breadcrumb .otm-breadcrumb-inner .breadcrumb li a,
.otm-breadcrumb .otm-breadcrumb-inner .breadcrumb li {
    color: #8B8B8B;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.dropdown-menu {
    background-color: transparent;
    border: 0px;
}
.solutions-dropdown {
    column-count: 2;
}

.dropdown-menu .dropdown-item:first-child {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
}

.dropdown-menu .dropdown-item {
    font-size: 1rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .otm-nav.navbar-light .navbar-nav .nav-link.nav-cta {
        position: relative;
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media only screen and (max-width: 991px) {
    .home-cta h4 {
        font-size: 24px;
    }
    .otm-nav.navbar-light .navbar-nav .nav-link {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 0px;
    }
    .otm-hero-light .otm-nav {
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .navbar-nav .dropdown-menu {
        text-align: right;
    }
    .dropdown-menu .dropdown-item:first-child {
        font-size: 18px;
    }
    .dropdown-menu .dropdown-item {
        font-size: 16px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 768px) {
    .follow-menu {
        text-align: left;
    }
}

@media only screen and (max-width: 370px) {
    .navbar-brand img {
        width: 180px;
    }
    .sticky-menu {
        padding-top: 90px;
    }
}